@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

body {
  background-color: #f9f9f9;
}

.page_width {
  width: 1250px;
  margin: auto;
  padding: 0px 15px;
}

.section_margin {
  width: 100%;
  margin: 75px 0px;
}

header {
  width: 100%;
  margin: auto;
  padding: 10px 0px;
}

.nav_desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_desktop .menu_bar {
  display: none;
}

.nav_desktop nav ul {
  align-items: center;
  display: flex;
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav_desktop nav ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #3B3C4A;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.nav_desktop nav ul li a:hover {
  font-weight: 700;
  color: #058b8c;
}

.nav_desktop nav .tel a {
  background-color: #058b8c;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  align-items: center;
  display: flex;
  gap: 10px;
}

.mobile_nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #058B8C;
  top: 0;
  left: 0;
  display: none;
}

.services_submenu {
  display: none;
}

.services_dropdown:hover {
  background-color: transparent;
  padding: 10px 0px;
}

.services_dropdown:hover .services_submenu {
  display: block;
  position: absolute;
  background-color: #058B8C;
  margin: 0.8rem;
  margin-left: 0;
}

.services_dropdown:hover .services_submenu ul {
  display: block;
  margin: 1.25rem;
}

.services_dropdown:hover .services_submenu ul li {
  width: 200px;
  padding: 15px;
  border-bottom: 1px solid white;
  background: transparent;
  border-radius: 0;
}

.services_dropdown:hover .services_submenu ul li:hover {
  background-color: white;
}

.services_dropdown:hover .services_submenu ul li a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.services_dropdown:hover .services_submenu ul li:hover a {
  color: #058B8C;
  font-weight: 700;
}

.services_dropdown:hover .services_submenu ul li:last-child {
  border-bottom: none;
}

/*
.outer_service {
  position: relative;
}

.outer_service .inner_service {
  padding: 25px 10px;
}

.inner_service {
  position: absolute;
  width: 200px;
  padding: 10px;
  background: #058B8C;
  display: none;
  transition: all 0.6;
  top: 100%;
}

.inner_service .service_list {
  display: unset;
}

.inner_service .service_list li {
  padding: 12px;
  border-bottom: 1px solid white;
}

.inner_service .service_list li:last-child {
  padding: 0px;
  border-bottom: none;
  background: transparent;
}

.inner_service .service_list li:hover {
  background-color: white;
  color: #058b8C;
  font-weight: 600;
}

.inner_service .service_list li a {
  color: #fff;
  font-size: 15px;
}

.outer_service:hover .inner_service {
  display: block;
}

.outer_service:hover .inner_service ul li {
  width: 13.75rem;
  padding: 0.938rem;
  border-bottom: 0.063rem solid #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.outer_service:hover .inner_service ul li:hover {
  background-color: white;
}

.outer_service:hover .inner_service ul li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
}*/

.quick_service_section {
  width: 100%;
  margin: auto;
  background-color: #058b8C;
}

.quick_service_inner_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 225px;
  gap: 25px;
  justify-content: center;
  align-items: center;
  color: white;
}

.quick_service_inner_section h2 {
  font-size: 40px;
  font-weight: 700;
}

.quick_service_inner_section a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 32px;
  font-weight: 400;
  gap: 25px;
}

.footer_inner_grid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 25px;
  padding: 65px 0px;
  border-bottom: 1.5px solid #8F8F8F;
}

.footer_about {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_about p {
  color: #8f8f8f;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer_nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_nav ul li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s;
}

.footer_nav ul li a:hover {
  color: #1e1e1e;
  font-weight: 700;
}

.footer_contact_us {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer_contact_us a {
  color: #8f8f8f;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s;
}

.footer_contact_us a:hover {
  color: #1e1e1e;
  font-weight: 700;
}

.footer_form {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.footer_form input[type=text] {
  width: 100%;
  height: 35px;
  border-radius: 341px;
  border: 2px solid #058b8C;
}

.footer_form input[type=submit] {
  color: white;
  height: 35px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  outline: none;
  background: #058b8C;
  border: none;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2),
    3px 4px 10px 0px rgba(0, 0, 0, 0.2) inset;
  padding: 5px 15px;
}

.copy_right {
  color: #8F8F8F;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 5px 5px;
}